/******************** FONTS ********************/
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url('fonts/proxima_nova_semibold-webfont.woff2') format('woff2'),
       url('fonts/proxima_nova_semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_novaregular';
  src: url('fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
       url('fonts/proxima_nova_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/******************** GENERAL ********************/
html {
  background-color: black;
}
body {
  font-family: 'proxima_novaregular';
}
h1,h2,h3,p {
  color: white;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'proxima_nova_ltsemibold';
  font-size: 23px;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'proxima_novaregular';
  font-size: 17px;
}
h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'proxima_novaregular';
  font-size: 13px;
}
input, select, textarea{
  color: white;
  font-size: 35px !important;
  text-align: center;
}
input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #DAA520;
  -webkit-box-shadow: 0 1px 0 0 #DAA520;
  box-shadow: 0 1px 0 0 #DAA520;
}
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white !important;
}
.center-align {
  padding-top: 40px;
}
/******************** NAV ********************/
nav {
  height: 110px;
}
.brand-logo {
  max-width: 25%;
  margin-top: 35px;
  margin-left: 60px;
}
.brand-logo:hover {
  fill: rgba(253,247,247,.7);
}
nav ul a {
  font-family: 'proxima_nova_ltsemibold';
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
}
nav ul li:nth-last-child(-n+1){
  padding-right: 30px;
}
nav ul li a:hover {
  color: rgba(253,247,247,.7);
  background-color: transparent;
}
.right {
  padding-top: 20px;
}
.fa-lg {
  vertical-align: -2%;
}
.dropdown-content{
  min-width: 130px;
  background-color: black;
  color: white;
}
.dropdown-content li>a {
  color: white;
}
.dropdown-content li:hover {
  background-color: transparent;
}

/******************** CALENDAR ********************/
.rdtPicker{
  width: 890px !important;
}
.rdtPicker td.rdtActive, .rdtPicker td.rdtActive:hover{
  background-color: black !important;
}
.rdtPicker td.rdtToday:before {
  border-bottom: 7px solid black !important;
}


.pick-hairstylist {
  display: block;
}

select.browser-default{
  margin: 0 auto;
  font-size: 25px !important;
  width: 39%;
  height: 2rem;
  color: black;
  margin-bottom: 20px;
  font-family: 'proxima_nova_ltsemibold';
  text-transform: uppercase;
  letter-spacing: 3px;
}

/******************** SERVICES ********************/
.services-hl {
  font-family: 'proxima_nova_ltsemibold';
  font-size: 19px;
  letter-spacing: 3px;
}

/******************** PARALLAX ********************/
.parallax img {
  max-width: 100%;
}

/******************** iFRAME ********************/
iframe{
  display: block;
  margin: 0 auto;
}
.justify {
  text-align: right;
}

/******************** MEDIA QUERIES ********************/
@media only screen and (max-width: 990px) {
  .brand-logo {
    margin-left: 0;
    max-width: 55%;
    margin-top: 15px;
  }
  .rdtPicker {
    width: 350px !important;
    margin: 0 auto;
  }
  select.browser-default {
    font-size: 12px !important;
    width: 52%;
    letter-spacing: 2px;
  }
}


